<nav>
  <a [routerLink]="['/home']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">HOME</a>
  <a [routerLink]="['/home','don']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">DON</a>
  <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">ABOUT</a>
  <a [routerLink]="['/xmen']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">XMEN</a>
  <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">LOGOUT</a>  
</nav>
